@import "tailwindcss";

h1 {
    font-size: 1.25rem; font-weight: bold;
    margin-bottom: calc(var(--spacing));
}
h2 {
    font-size: 1rem; font-weight: bold;
    margin-bottom: calc(var(--spacing));
}
h1.top {
    font-size: 2rem; font-weight: bold;
}
h1.pageTitle {
    font-size: 1.5rem; font-weight: bold;
}

p, ul, hr {
    margin-bottom: calc(var(--spacing) * 4);
}
a {text-decoration: underline;}
li {
    list-style-type: square;
    margin-left: 1rem;
}