---
import BaseLayout from "../layouts/BaseLayout.astro";

const notes = import.meta.glob('./notes/**/*.md', { eager: true });

const entries = Object.entries(notes)
  .map(([path, mod]) => {
	const rawTitle = mod.frontmatter?.title;
	const rawDate = mod.frontmatter?.date;

	// 日付文字列（あれば）
	const dateLabel =
	rawDate instanceof Date
		? rawDate.toISOString().slice(0, 10)
		: typeof rawDate === "string"
		? rawDate.slice(0, 10)
		: null;

	// 表示用タイトル
	const title =
	rawTitle
		? dateLabel
		? `${dateLabel} — ${rawTitle}`
		: rawTitle
		: dateLabel ?? path;

    return {
      url: path.replace('./', '/').replace('.md', ''),
      title,
    };
  })
  .sort((a, b) => (a.url < b.url ? 1 : -1));

---

<BaseLayout title="Thinking Lab">
  <h1 class="mb-4 text-2xl">Thinking Lab</h1>
  <h2>とあるエンジニアの思考ノート</h2>

  <!--<p class="mb-6"><a href="/about/">about</a></p>-->



  <h2 class="mb-2">Notes</h2>
  <ul>
    {entries.map(entry => (
      <li>
        <a href={entry.url}>{entry.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
