---
const {
  title = "Thinking Lab",
} = Astro.props;

// 今表示しているページのURLを取得
const canonical = Astro.url.toString();
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>

    <!-- canonical は自動生成 -->
    <link rel="canonical" href={canonical} />
  </head>
  <body>
    <slot />
  </body>
</html>
